exportPattern("^[[:alpha:]]+")

#export(causetextV5)
#export(CSMF.interVA5)
#export(COMCAT.interVA5)
#export(CSMF5)
#export(InterVA5.plot)
#export(InterVA5)
#export(Population.summary)
#export(probbaseV5)
#export(SampleInputV5)



importFrom("grDevices", "dev.new", "grey.colors")
importFrom("graphics", "barplot", "par", "pie")
importFrom("utils", "data", "write.table")



S3method("summary", "interVA5")
S3method("print","interVA5_summary")

